<!DOCTYPE html>
<html>
<head>
  <title>Kanbfire</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p>
  You are <%= session[:email] %>.
  </p>

  <% if flash[:notice] %><p class="notice"><%= flash[:notice] %></p><% end %>

  <%= yield %>

</body>
</html>
